
div{
    display: block;
}

#parent{
    font-size:0pt;
}
#Banner{
        position:relative;
	width:90%;
	left:-5%;
	right:0%;
	//height:80px;
	text-align:center;
	padding-top:2px;
	padding-bottom:2px;
        margin: auto;
	//margin-top:0px;
	//margin-bottom:0px;
	//top:50px;
        //vertical-align: top;
}



#Content{
        
    	position:relative;
	width:76%;
	left:0%;
	right:10%;
        bottom:1002px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left:2%;
        padding-right: 2%;
        height: 1000px;
        margin: auto;
	text-align:left;
}

#Footer{
    position:relative;
    width:90%;
    left:-5%;
    right:0%;
    bottom:1002px;
    margin: auto;
    padding-top: 1px;
    padding-bottom:11px;
    text-align: center;
    
}


#NavBar{
    position:static;
    width:6%;
    left:10%;
    right:10%;
    padding-top: 1px;
        padding-bottom: 1px;
        padding-left:2%;
        padding-right: 2%;
        height: 1000px;
        //margin: auto;
	text-align:left;
}
img.ContentImage{
    float: right;
    //float: top;
}

.nav img {
   height: 100%;
   width: 100%;
   //float:right;
}




a.nav, a.open_nav {
	display:inline-block;
	border:none;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	padding-left:5px;
	padding-right:20px;
	padding-top:5px;
	width:80px;
}