
body {
	background-color:rgb(118,143,165);
	
}

#Banner{
    background-color: #900000;
    color: #FFFFFF;
    font-size: 24pt;
}

#NavBar{
    	background-color:#660000;
        color: #FFFF00;
        //word-spacing: 30px;
	
    
        
}



a.nav{
    color: #FFFFFF;
    text-decoration: none;
    font-weight:bold;
}

#current{
    //font-weight: bold;
    color: #00000;
    font-weight: 900;
}

current{
    //font-weight: bold;
    color: #00000;
    font-weight: 900;
}

a.current{
    color: #000000;
    text-decoration: none;
    font-weight:bold;
}
a.inline{
      color: #0000FF;
    text-decoration: none;
    font-weight:bold;
}

header{
    color:#000099;
    font-size: 24pt;
}

#Footer{
    background-color: #D0D0D0 ; 
}

#Content{
    background-color: #FFFFFF; 
}