body {
    background-color: #191970;
}

h1{
    text-align: left;
    font-size: 50px;
    color: #FFD700; 
}

#caption{
	text-align: center;
	font-size: 25px;
	color: #FFD700; 

}

#SlidePicture.resize{
width:540px; /* you can use % */
    height: 15px;
     
}

#buttons{
	text-align: center;
	margin: auto;
}

#pic{
	text-align: center;
	margin: auto;
}

#picture{
	  //height: auto; 
    //width: auto; 
    max-width: 1500px; 
    max-height: 600px;
    min-width: 300px;
    min-height: 300px;
}
