/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2015, 9:29:22 PM
    Author     : Chris
*/

/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author 
 */


.tool_bar{
    -fx-background-color: #949191;
    -fx-font-family: "Courier New";
    -fx-font-style: "italic";
}

.view_switch{
    -fx-background-color: #686565;
    -fx-font-family: "Courier New";
    -fx-font-style: "italic";
}

.work_space{
    -fx-background-color: rgb(255,99,71);
}

.portfolio_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: #090712;
    -fx-border-color: rgb(50, 5, 5);
}

.page_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: #535360;
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    //-fx-spacing: 60px;
}

.vertical_toolbar_button {
    -fx-background-color: rgb(250, 130, 130);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.horizontal_toolbar_button {
    -fx-background-color: #FFFFFF;
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}


.btYES{
    text-align: center;
    -fx-border-spacing: 20px;
    -fx-margin: 15px;
    -fx-spacing: 50px;
    padding-top: 100px;
    //-fx-display: block;
    //-fx-width: 50px;
    -fx-alignment: CENTER;
    //-fx-background-color: rgb(70,130,180);
    //-fx-margin-left: auto;
    //-fx-margin-right: auto;
}

.root{
    -fx-font-color: rgb(255,255,0);
    //-fx-background-color: rgb(70,130,180);
    -fx-font-family: "Courier New";
    -fx-font-style: italic;
    -fx-base: #26252A;
    -fx-button-color: rgb(135,206,235);
    -fx-text-align:center;
}