body {
	background-color:rgb(0,51,51);
	
}
#Banner{
    background-color: #0D4D4D;
    color: #FFFFFF;
    font-size: 24pt;
}

#NavBar{
    	background-color:#226666;
        color: #FFFFFF;
        //word-spacing: 30px;
	
        
        
}
a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight:bold;
}

h1{
    color:#000099;
}

#Footer{
    background-color: #D0D0D0 ; 
}

#Content{
    background-color: #669999; 
}
