body {
	background-color:rgb(75, 60, 69);
	
}
#Banner{
    background-color: #705C68;
    color: #FFFFFF;
    font-size: 24pt;
}

#NavBar{
    	background-color:#2B1322;
        color: #FFFFFF;
        //word-spacing: 30px;
	
        
        
}

header{
    color:#000099;
    font-size: 24pt;
}
a.nav{
    color: #FFFFFF;
    text-decoration: none;
    font-weight:bold;
}

#current{
    //font-weight: bold;
    color: #000099;
    font-weight: 900;
}

current{
    //font-weight: bold;
    color: #00000;
    font-weight: 900;
}

a.current{
    color: #000099;
    text-decoration: none;
    font-weight:bold;
}

h1{
    color:#000099;
}

#Footer{
    background-color: #D0D0D0 ; 
}

#Content{
    background-color: #937F8C; 
}
